@mixin flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin a-button {
  a {
    background-color: $boja2;
    color: $boja1;
    padding: 10px;
    margin: 1em;
    &:visited {
      // a:visited
      background-color: aqua;
    }
    &:hover {
      // a:hover
      background-color: $boja3;
    }
  }
  p {
    background-color: $boja3;
  }
}
//mixin s argumentima
@mixin align-element($display, $txt, $space) {
  display: $display;
  margin: $space;
  text-align: $txt;
  //     display: block;
  //   margin: 1em auto;
  //   text-align: center;
}
