* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}
div {
  background-color: #f93;
  border: 1px solid #333;
  width: 150px;
  height: 150px;
  margin: 0 auto 2em 0;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  position: relative;
}

@keyframes animacija1 {
  0% {
    left: 0px;
    background: red;
  }
  100% {
    left: 500px;
    background: yellow;
  }
}

/* animation: name duration timing-function delay iteration-count direction fill-mode play-state */
div:first-of-type {
  animation: animacija1 3s linear;
}

@keyframes animacija2 {
  0% {
    left: 0px;
    transform: rotate(0deg);
  }
  50% {
    left: 250px;
    transform: rotate(360deg);
  }

  75% {
    left: 400px;
    transform: rotate(270deg);
  }
  100% {
    left: 500px;
    transform: rotate(0deg);
  }
}

div:nth-of-type(2) {
  animation: animacija2 4s ease-in-out 2s;
}
div:nth-of-type(2):hover {
  animation-play-state: paused;
}

@keyframes animacija3 {
  0% {
    left: 0px;
    background: yellow;
  }
  100% {
    left: 80%;
  }
}

div:nth-of-type(3) {
  animation: animacija3 4s ease-in-out 1s backwards;
}
@keyframes animacija4 {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

div:nth-of-type(4) {
  animation: animacija4 0.7s linear both infinite;
}
